.contact-section {
  background-color: #e5e4e4;
}

.contact-section form {
  margin-top: 3rem;
}

.contact-section form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-color: #e5e4e4;
}

.contact-section form input {
  border: none;
  outline: none;
  font-size: 0.2;
  border-bottom: 0.15rem black solid;
  border-left: 0.15rem black solid;
  padding: 0 0 3px 3px;
  /* width: 100%; */
  width: 30rem;
  height: 2rem;
}

.contact-section .message {
  border: none;
  outline: none;
  font-size: 0.2;
  border-bottom: 0.15rem black solid;
  border-left: 0.15rem black solid;
  padding: 0 0 5rem 3px;
  width: 100%;

  height: 7rem;
}

.contact-section form input::placeholder {
  font-size: 0.55rem;
  color: #8b8b8b;
  font-weight: bold;
}

@media screen and (max-width: 740px) {
  .contact-section form input,
  .contact-section .message {
    font-size: 0.4rem; /* Decrease font size for smaller screens */
    padding: 0.5rem 0.5rem 2px 2px; /* Adjust padding for compactness */
    width: 10rem; /* Make inputs span full width */
    height: auto; /* Allow height to adjust based on content */
  }

  .contact-section form input::placeholder {
    font-size: 0.4rem; /* Decrease placeholder font size */
  }
}
