.skill-section {
  background-color: #dbdada;
  margin: 0;
}
.grid-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 8rem;
}

.grid-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.grid-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 5rem; */
  margin-bottom: 1rem;
}

.my-skill-header {
  margin: 3rem 0;
}

.grid-icons p {
  font-size: 0.8rem;
  font-family: Montserrat;
  margin-top: 0.5rem;
}

.flex-icons {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.flex-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.flex-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-icons p {
  font-size: 0.8rem;
  font-family: Montserrat;
  margin-top: 0.5rem;
}

.flex-icons div {
  /* margin-right: 6rem; */
  margin-bottom: 5rem;
}

.last-div div {
  margin-bottom: 0;
}

@media screen and (max-width: 740px) {
  .skill-section .hide {
    display: none;
  }
  .flex-icons {
    display: block; /* Change to block to stack icons */
    text-align: center; /* Center the icons horizontally */
  }

  .flex-icons img {
    margin-bottom: 1rem; /* Add space between stacked icons */
  }

  .flex-icons div {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 2rem; /* Add space between stacked icon groups */
  }

  .last-div div {
    margin-bottom: 0;
  }

  .grid-icons {
    display: block; /* Change to block to stack icons */
    text-align: center; /* Center the icons horizontally */
    margin: 0 auto; /* Center the block */
  }

  .grid-icons div {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 2rem; /* Add space between stacked icon groups */
  }
}
