.skill-section {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    );
  margin: 0;
}
.grid-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  /* gap: 10; */
}

.grid-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.grid-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.my-skill-header {
  margin-bottom: 35px;
}

.grid-icons p {
  font-size: 0.8rem;
  font-family: Montserrat;
  margin-top: 0.5rem;
}

.flex-icons {
  display: flex;
  justify-content: space-between;
}

.flex-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.flex-icons div {
  margin-right: 6rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 740px) {
  .skill-section .hide {
    display: none;
  }
  .flex-icons {
    display: block; /* Change to block to stack icons */
    text-align: center; /* Center the icons horizontally */
  }

  .flex-icons img {
    margin-bottom: 1rem; /* Add space between stacked icons */
  }

  .flex-icons div {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 2rem; /* Add space between stacked icon groups */
  }

  .grid-icons {
    display: block; /* Change to block to stack icons */
    text-align: center; /* Center the icons horizontally */
    margin: 0 auto; /* Center the block */
  }

  .grid-icons div {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 2rem; /* Add space between stacked icon groups */
  }
}
